@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: "Ubuntu", sans-serif;
}

li, a, h1, div, button {
    font-weight: 400;
    text-decoration: none;
    color: #0064a4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    margin: 0 0 75px;
}

header, header * {
    background-color: #0064a4;
}

.siteName {
    float: left;
    cursor: pointer;
    font-size: 45px;
}

.siteName a {
    color: rgba(255, 210, 0, 1);
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    font-size: 24px;
    padding: 0px  100px;
}

.nav__links li a {
    color: rgba(255, 210, 0, 1);
    transition: all 0.3s ease 0s;
}

.nav__links .current {
    font-weight: bold;
    text-decoration: underline;
}

.nav__links li a:hover {
    color:rgba(247, 235, 95, 1);
}

button #cart {
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 35px;
}

button {
    padding: 9px 25px;
    font-size: 20px;
    background-color: rgba(255, 210, 0, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(247, 235, 95, 1);
}

.search-div {
    margin-bottom: 75px;
}

#search-form {
    display: flex;
    justify-content: center;
}

#search-input {
    width: 80%;
    height: 50px;
    font-size: 20px;
}

#search-submit {
    padding: 0 10px;
    background-color: rgba(255, 210, 0, 1);
    color: #0064a4;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#search-submit:hover {
    background-color: rgba(247, 235, 95, 1);
}

.productgrid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 0 30px 30px 30px;
}

.productcell {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid rgba(0, 62, 120, 0.1);
}

.productcell__image{
    width: auto;
    height: 200px;
    align-self: center;
    background-color: transparent;
    margin-bottom: 30px;
}

.productcell__price {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
}

.productcell__name {
    font-weight: 700;
    margin-bottom: 20px;
}

*.productcell__description {
    margin: 0 15px;
}

.productcell img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Media Queries */
@media(max-width: 768px) {

    header {
        display: block;
        text-align: center;
        padding: 0 0 10px 0;
    }

    header * {
        display: inline-block;
        width: 100%;
        padding: 0 0 5px 0;
    }

    header .siteName {
        padding-top: 0px;
    }

    header .cart {
        margin: auto;
        width: 75%;
    }

    .cart button {
        padding: 5px;
    }
}