<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>ProductListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/ProductListServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>CustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LastViewedServlet</servlet-name>
        <servlet-class>LastViewedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LastViewedServlet</servlet-name>
        <url-pattern>/LastViewedServlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>placedOrder</servlet-name>
    <jsp-file>/placedOrder.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>placedOrder</servlet-name>
        <url-pattern>/placedOrder.html</url-pattern>
    </servlet-mapping>
</web-app>
